.card:hover {
    filter: blur(0);
}
  
img {
    filter: blur(5px);
    transition: 0.2s ease-in-out;
}
  
img:hover {
    filter: blur(0);
    transition: 0.2s ease-in-out;
}
  
/*.container-fluid{
    background: rgb(38, 203, 209);
}
  
body{
    background:rgb(38,203,209)
}
  
.navbar-navbar-expand-lg-navbar-light-bg-light{
    background:rgb(38, 203, 209);
}*/

h1{
    font-weight: 400;
}

#navbar b{
    float: right;
}